[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/hot-fuzz/lib/fuzzlib"]
	path = packages/hot-fuzz/lib/fuzzlib
	url = https://github.com/perimetersec/fuzzlib
